.container_depoimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 18em;
    gap: 1em;
}

.titulo_depoimento {
    color: var(--vinho);
    font-weight: 600;
    font-size: 14px;
}

.texto_depoimento {
    color: var(--cinza-escuro);
    font-weight: 500;
    font-size: 36px;
}

.autora_depoimento {
    color: var(--cinza-escuro);
    font-weight: 500;
    font-size: 24px;
}

.profissão_autora {
    color: var(--cinza-claro);
}